{% extends '../layout.html' %} {% extends '../post.html' %} {% block title -%}
{{page.title}} - {{options.title}} {%-endblock %} {% block head %}
<link
  rel="stylesheet"
  href="/theme/{{options.theme}}/res/css/about.css"
  type="text/css"
  data-ls="css_firekylin"
/>
<script src="/theme/{{options.theme}}/res/js/about-picture.js"></script>
{% endblock %}
<!-- content -->
{% block content %}
<div id="about">
  <div id="banner-top">
    <img src="https://p5.ssl.qhimg.com/t011111fd6e481d96ca.png" alt="" />
  </div>
  <div class="article-box">
    <article class="article article-employ">
      <div class="cont">{{page.content | safe}}</div>
      <ul id="picture-list">
        <li>
          <img src="https://p4.ssl.qhimg.com/t01713d89cfdb45cdf5.jpg" />
        </li>
        <li>
          <img src="https://p4.ssl.qhimg.com/t01e456146c8f8a639a.jpg" />
        </li>
        <li>
          <img src="https://p1.ssl.qhimg.com/t015f613e2205b573d8.jpg" />
        </li>
        <li>
          <img src="https://p0.ssl.qhimg.com/t01290338a28018d404.jpg" />
        </li>
        <li>
          <img src="https://p3.ssl.qhimg.com/t01d9aa5ae469c8862e.jpg" />
        </li>
        <li>
          <img src="https://p3.ssl.qhimg.com/t01cb20d35fc4aa3c0d.jpg" />
        </li>
        <li>
          <img src="https://p5.ssl.qhimg.com/t0110b30256941b9611.jpg" />
        </li>
      </ul>
      <div id="mask">
        <span class="previous"></span>
        <img src="" />
        <span class="next"></span>
        <!-- <span class="close"></span> -->
      </div>
    </article>
  </div>
</div>
{% endblock %}
