{% extends './layout.html' %} {% block title -%} {{post.title}} - {{options.title}} {%-
endblock %} {% block headers -%}
<link rel="canonical" href="{{site_url}}/post/{{post.pathname}}.html" />
{%- endblock %} {% block head %}
<link
  rel="stylesheet"
  href="/theme/{{options.theme}}/res/css/post.css"
  type="text/css"
  data-ls="css_firekylin"
/>
{% endblock %}{% block content %}
<div id="page-post">
  <article class="post detail">
    <h1 class="title">{{post.title}}</h1>
    <span class="user"=>{% set user = post.user %} {% if user.display_name %}{{user.display_name}}{% else
      %}{{user.name}}{% endif %}&nbsp;&nbsp;&nbsp;{{think.datetime(post.create_time, 'MM月DD, YYYY')}}</span>
    <article class="article{%if post.cate.length==0%} article-gy{%endif%}">
      <div class="cont">{{- post.content | safe -}}</div>
    </article>

    </div>
  </article>
</div>
{% endblock %}
